body {
    background-color: #415A77!important;
}
.search-id{
    display: flex;
    flex-direction: column;
    color: #E0E1DD;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
}
ul {
    list-style-type: none !important;
} 


.news-cards-container {
    background-color:#1b263b!important;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
  }
  
  @media screen and (max-width: 768px) {
    .news-cards-container {
      padding: 10px;
      margin: 10px auto;
    }
  }

.article-container {
    display: flex;
    align-items: center;
  }
  
  .article-image {
    width: 200px !important;
    height: 170px !important;
    margin-right: 20px !important;
    border-radius: 25px !important;
  }
  
  .article-info {
    display: flex;
    flex-direction: column;
  }
  
  .article-title {
    color: whitesmoke  !important;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .article-description {
    color: whitesmoke  !important;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .article-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .article-image {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .article-title {
        
      font-size: 16px;
    }
  }